{% extends 'home/base.html' %}
{% block title %}::.Sistema Universidad O&amp;ap;M.::{% endblock %}
{% block content %}
<br><br>
<font size="5"><center><b>PUNTUACION</b></center></font>
   <div id="table1"> 
    <table class="table" border="1" cellpadding="1" cellspacing="1">
      <thead> 
        <tr>
          <th bgcolor="#4c4c4c"><font color="white">Asistencia</th>
      	  <th bgcolor="#4c4c4c"><font color="white">Practica Individual</th>
      	  <th bgcolor="#4c4c4c"><font color="white">Practica Grupal</th>
      	  <th bgcolor="#4c4c4c"><font color="white">Parcial</th>
          <th bgcolor="#4c4c4c"><font color="white">Examen Final</th>
          <th bgcolor="#4c4c4c"><font color="white">Total</th>
   	    </tr>
  	  </thead> 
      <tbody>
    	<tr>
          <td bgcolor="#b2b2b2">10</td>
          <td bgcolor="#b2b2b2">10</td>
          <td bgcolor="#b2b2b2">10</td>
          <td bgcolor="#b2b2b2">20</td>
          <td bgcolor="#b2b2b2">50</td>
          <td bgcolor="#b2b2b2">100</td>
     	</tr>
      </tbody>
    </table>
   </div>
<br><br>
<font size="5"><center><b>FORMATO PRACTICA</b></center></font>
<div id="table2"> 
    <table class="table" border="1" cellpadding="1" cellspacing="1">
      <thead> 
        <tr>
          <th bgcolor="#4c4c4c"><font color="white">Practica Individual</th>
      	  <th bgcolor="#4c4c4c"><font color="white">Practica Grupal</th>
          <th bgcolor="#4c4c4c"><font color="white">Material Digital</th>
   	    </tr>
  	  </thead> 
      <tbody>
    	<tr>
         <td bgcolor="#b2b2b2">
           	<p><b>Material Impreso</b></p>
           	<p>15 paginas</p>
           	<p>Time New Roman/Arial 14 y 16 Pts.</p>
           	<p>Exposicion</p>
           	<p>Diapositiva</p>
           	<p>20 preguntas/respuestas</p>
         </td>
         <td bgcolor="#b2b2b2">
           	<p><b>Material Impresos</b></p>
           	<p>30 paginas</p>
           	<p>Time New Roman/Arial 14 y 16 Pts.</p>
           	<p>Exposicion</p>
           	<p>Diapositiva</p>
           	<p>20 Preguntas/Respuestas</p>
         </td>
          <td bgcolor="#b2b2b2">
            <p><b>Via correo electronico</b></p>
            <p>10 Preguntas/Respuestas</p>
            <p>Semanal</p>
            <p><b>(ING-KSANCHEZ@HOTMAIL.COM)</b></p>
         </td>
     </tr>
   </tbody>
 </table>
</div>
<div class="nota">
	<table border="0" cellpadding="0" cellspacing="0">
	 <font color="red"><b>Notas Adicionales</b></font>
	  <thead>
	   <tr>
<td bgcolor="white">
	<p><b>Entraga formato digital 24 horas anticipacion.</p>
	<p>Duracion exposicion 35-45 minutos.<b></p></td>
   </tr>
  </thead>
 </table>
</div>
{% endblock %}