a {
  text-decoration: none;
}
body background #E8E8E8 {
  color: #000;
  font-family: Arial;
  font-size: 16px;
}
.aviso {
  color: #f00;
  background: #e0e0e0;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-decoration: blink;
  margin: 0 400px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.panel-izquierdo,
.panel-central,
.panel-derecho {
  vertical-align: top;
}
.panel-principal {
  background: #f0f0f5;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
  width: 98.8%;
}
.panel-izquierdo {
  float: left;
  margin: 1.9em 0 50px 0;
  padding: 10px;
  width: 20%;
}
.panel-izquierdo .po-markup a {
  text-decoration: none;
}
.panel-izquierdo .portadas img {
  height: 300px;
  margin: 2px;
}
.panel-central {
  margin: 0 180px 0 470px;
  padding: 200px;
}
.panel-central .texto-principal {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 70%;
}
.panel-central .iframe {
  margin: 50px;
}
.panel-derecho {
  float: right;
  font-size: 16px;
  margin: -49.9em 2.1em 0 0;
  width: 20%;
}
.panel-derecho .avatar {
  margin: 10px 30px;
}
.panel-derecho .avatar strong {
  display: block;
}
.panel-derecho .foto,
.panel-derecho img {
  width: 150px;
}
.panel-derecho span {
  color: #fff;
  float: left;
  font-size: 16px;
  margin: 5.5px 1em 0 0;
  padding: 1em 1.9em;
  overflow: hidden;
}
.btn {
  background: #06c;
}
.btn:hover {
  background: #008000;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.btn a {
  color: #fff;
  margin: 0.5em -9em 0 0;
  text-decoration: none;
  margin: 100px;
}
.btn a:hover {
  color: #fff;
  text-decoration: none;
}
.calendario {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: -500px 113em -40px -60px;
  width: 20%;
}
.calendario span {
  display: block;
}
.circle {
  border-radius: 1em;
}
.contacto {
  font-family: Arial;
  margin: 600px -8px;
  padding: 20px;
}
.contacto img {
  height: 60px;
  width: 60px;
}
.container {
  margin: 50px 0 30px 0;
  padding: 30px;
}
.container .col-sm-4 .post .post-img-content {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  padding: 5px;
}
.container .col-sm-4 .post .poster-networking {
  background: #ffa500;
  box-shadow: 6px 4px 20px rgba(0,0,0,0.5);
  color: #fff;
  margin: 0;
  padding: 65px;
  text-align: center;
}
.container .col-sm-4 .post .poster-networking:hover {
  background: #f00;
  cursor: pointer;
}
.container .col-sm-4 .post .poster-nos {
  background: #06f;
  box-shadow: 6px 4px 20px rgba(0,0,0,0.5);
  color: #fff;
  margin: 0;
  padding: 46px;
  text-align: center;
}
.container .col-sm-4 .post .poster-nos:hover {
  background: #f00;
  cursor: pointer;
}
.container .col-sm-4 .post .poster-vm {
  background: #008000;
  box-shadow: 6px 4px 20px rgba(0,0,0,0.5);
  color: #fff;
  margin: 0;
  padding: 66px 23px;
  text-align: center;
}
.container .col-sm-4 .post .poster-vm:hover {
  background: #f00;
  cursor: pointer;
}
.container .col-sm-4 .post .po-link {
  text-align: center;
  text-decoration: none;
  margin: 1em 6em;
}
.container .col-sm-4 .post .index {
  margin: 2em;
  text-align: center;
}
.container .col-sm-4 .post .author {
  padding: 1em;
}
.credentials {
  font-size: 14px;
  text-align: center;
  margin: 0 500px;
  padding: 0 0 0 -20px;
}
.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 18px;
  padding: 10px 800px 0;
}
.navbar {
  font-size: 18px;
  padding: 20px;
  margin: 20px;
}
.navbar .navbar-header .nav {
  line-height: 40px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.navbar .navbar-header .nav li {
  color: #000;
  display: inline-block;
}
.navbar .navbar-header .nav li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}
.navbar .navbar-header .nav li a:hover {
  color: #ff0;
}
.navbar .navbar-header .nav li i {
  padding: 0.1em;
}
.navbar .navbar-header .nav li .dropdown-menu li:hover {
  font-size: 28px;
}
.navbar .navbar-header .nav li .dropdown-menu a {
  color: #000;
}
.left {
  float: left;
}
.right {
  float: right;
}
.sponsors {
  background: #22bce0;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  height: 200px;
  margin: 0 0 0 18px;
  width: 98.9%;
}
.sponsors img {
  margin: 50px 78px;
  width: 100px;
  overflow: hidden;
}
.title h2 {
  color: #404040;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  text-shadow: 6px 6px 10px rgba(0,0,0,0.8);
}
