{% extends "home/base.html" %}
{% block title %}::..Sistema Universidad OYM.::{% endblock %}

{% block content %}

<div class="title">
    <h1>Cuestionario Sistema Operativo II</h1>
</div>

{% for faq in preguntasresp%}
   {% if faq.estudiante.status %}
    <article class="faq">
        <div class="preguntas">
            <p><b>{{ faq.id }}-{{ faq.pregunta }}</b></p>
            <div class="iconitoheart2"></div>
	    </div>

	    <div class="respuestas">
	    	<p> {{ faq.respuesta }} </p>
	    </div>

	    <div class="redactor">
	        <p>{{ faq.estudiante.nombre }}{{ faq.estudiante.apellido }}({{ faq.estudiante.fechareg }})</p>
	        <div class="votos">
	        	<div><a href="#" class="iconitothumbs-up up"></a></div>
	        	<div class="point">10</div>
	        	<div><a href="#" class="iconitothumbs-up2 down"></a></div>
	         </div>
	        </div>
	        {% endif %}
	    </article>
	        {% endfor %}
{% endblock %}