@font-face
  font-family: 'icon'
  src: url('fonts/icon.eot?3usvup')
  src: url('fonts/icon.eot?#iefix3usvup') format('embedded-opentype'),
		url('fonts/icon.woff?3usvup') format('woff'),
		url('fonts/icon.ttf?3usvup') format('truetype'),
		url('fonts/icon.svg?3usvup#icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="iconito"],
[class*=" iconito"]
  font-family: 'icon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.iconitoheart:before
  content: "\e600"

.iconitoheart2:before
  content: "\e601"

.iconitothumbs-up:before
  content: "\e602"

.iconitothumbs-up2:before
  content: "\e603"

.iconitoarrow-up:before
  content: "\e604"

.iconitoarrow-down:before
  content: "\e605"

.iconitostar:before
  content: "\e606"

