<html><head><title>::.Biblioteca de Temas.::</title></head>
	<body>
		<br>
			<center><h2>Enlaces interesantes Virtualizacion.</h2></center>
			<br><center><a href="http://bitelia.com/2011/03/cinco-cosas-me-gustan-de-virtualizacion">Cinco cosas de Virtualizacion</a><center>
			<p>
			<center><a href="#">Descarga de Libros.</a></center>
			<center><a href="#">Mas Videotutoriales.</a></center>
			<center><a href="#">Otras fuentes.</a></center>
		<br>
			<center><a href="#">AQUI VA UN BOTON REGRESAR</a></center>
</body>
</html>

